.content_cl_wpp{
    display: block;
    position: fixed;
    left: 30px;
    right: auto;
    bottom: 30px;
    z-index: 9999999999;
}
.area_cl_wpp{
    width: 50px;
    height: 50px;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    background: #00e676;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    transition: all .5s;
}
.area_cl_wpp:hover{
    box-shadow: 2px 2px 11px rgba(0,0,0,0.4);
}
.content_cl_wpp:hover .area_cl_wpp .icon{
    transition-timing-function: linear;
    animation-duration: 1s;
    animation-name: changeChatWpp;
    animation-direction: alternate;
}
.area_cl_wpp .icon{
    max-width: 100%;
    max-height: 100%;
    width: 35px;
}
@-webkit-keyframes changeChatWpp{
    0% {
        -ms-transform: rotate(-7deg);
        -webkit-transform: rotate(-7deg);
        transform: rotate(-7deg);}
    50% {
        -ms-transform: rotate(7deg);
        -webkit-transform: rotate(7deg);
        transform: rotate(7deg);}
    100% {
        -ms-transform: rotate(-7deg);
        -webkit-transform: rotate(-7deg);
        transform: rotate(-7deg);
    }
}
